---
Checks:
  - clang-diagnostic-*
  - clang-analyzer-*
  - bug-prone-*
  - performance-*
  - modernize-*
  - misc-*
  - -misc-no-recursion
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: ''
FormatStyle:     LLVM